body {
  background: gray;
}

/* 冗余的css */
.a {
  text-align: center;
  color: #f40;
  background: #000;
}
.b {
  text-align: center;
  color: #f40;
  background: #000;
}
.c {
  text-align: center;
  color: #f40;
  background: #000;
}
.d {
  text-align: center;
  color: #f40;
  background: #000;
}